<h1>Editing Participant Schedule</h1>

<%= render 'form', participant_schedule: @participant_schedule %>

<%= link_to 'Show', @participant_schedule %> |
<%= link_to 'Back', participant_schedules_path %>
