<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There have been some changes to the event <%= link_to @event.name, @event%></h1>
    <p>
      Click to see more details: <%= link_to "View event", @event %>
    </p>
    <p>Looking forward to see you soon!</p>
  </body>
</html>