<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We are so sorry that the event <%= link_to @event.name, @event%> has been canceled by <%= link_to @event.organizer.name, @event.organizer%></h1>
  </body>
</html>