<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have successfully subscribed to event <%= link_to @event.name, @event%></h1>
    <p>
      Download the attachment to add the event from your calendar.
    </p>
    <p>Looking forward to see you soon!</p>
  </body>
</html>