<p id="notice"><%= notice %></p>

<h1>Organizers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @organizers.each do |organizer| %>
      <tr>
        <td><%= link_to organizer.name, organizer%></td>
        <td><%= organizer.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sign in as Organizer', new_organizer_path %>
